html {
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.main > * {
    flex: 0 0 auto;
}

.main > p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

a, a:link, a:visited, a:hover, a:active {
    color: orange;
}